html {
    display: flex;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: black;
    color: white;

}

#squareDivs{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 256px;
    width: 256px;
}

.newDiv {
    background-color: rgb(59, 59, 59);
    padding: 0px;
    margin: 0px;
    height: 8%;
    width: 8%;
    flex-grow: 1;
    
}